<head>
  <style></style>
</head>

<body
  class="d-flex h-125vh text-center text-white bg-dark"
  style="
    background-image: url('../../assets/aboutUs.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover; /* Do not scale the image */
    border-radius: 1rem; /* Add some rounded corners */
  "
>
  <div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand me-3" href="#">
            <img
              src="../../assets/rims.png"
              alt="RIMS"
              class="d-inline-block align-top"
              width="100"
              height="50"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav font-weight-bold">
              <li class="nav-item">
                <a class="nav-link" href="/wish-list"
                  ><i class="bi bi-heart bi-heart-fill"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cart"
                  ><i class="bi bi-cart-fill bi-cart-fill-fill"></i
                ></a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bi bi-person-fill"> </i>
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <a class="dropdown-item text-secondary" (click)="logout()"
                    >Logout</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="px-3" *ngIf="!isloginnav()">
      <nav class="navbar navbar-expand-md navbar-dark" *ngIf="!isloginnav()">
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarNav"
          >
            <ul class="navbar-nav font-weight-bold">
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/home"
                  >Home</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Categories
                </a>
                <div class="dropdown-menu bg-dark">
                  <li *ngFor="let c of category">
                    <a
                      [routerLink]="['/category', c.encodedId]"
                      class="dropdown-item text-secondary"
                      >{{ c.name }}</a
                    >
                  </li>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item text-secondary"
                    routerLink="/AllProducts"
                    >All Products
                  </a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Stores
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <li *ngFor="let s of store">
                    <a
                      [routerLink]="['/store', s.encodedId]"
                      class="dropdown-item text-secondary"
                      >{{ s.name }}</a
                    >
                  </li>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Pages
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <a
                    class="dropdown-item text-secondary"
                    [routerLink]="'/maintenance-order'"
                    >Order Maintenance</a
                  >
                  <a class="dropdown-item text-secondary" href="/maintenance"
                    >Maintenance</a
                  >
                  <a class="dropdown-item text-secondary" href="/blog">Blogs</a>

                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item text-secondary" href="/contact-us"
                    >Contact Us</a
                  >
                  <a class="dropdown-item text-secondary" href="/about-us"
                    >About Us</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1 class="cover-heading">
        About Us <span class="fw-bold" style="color: #dd3333">Page</span>
      </h1>
    </main>
  </div>
</body>

<!-- Contact Section -->
<section class="contact-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <div
          style="
            background-image: url('../assets/aboutus-1.jpg');
            background-size: cover;
            background-position: top;
            height: 550px;
            width: 100%;
            border-radius: 1rem;
            /* Add some rounded corners */
            position: relative;
          "
        ></div>
      </div>
      <div class="col-md-6">
        <section class="about-section">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <div class="about-content-wrapper">
                  <div class="section-header no-margin">
                    <div class="text-wrapper text-left">
                      <h6
                        class="text-orange fw-bold mb-2"
                        style="color: #dd3333"
                      >
                        <strong>ABOUT THE RIMS</strong>
                      </h6>
                      <h3 class="fw-bold no-margin">
                        <strong
                          >WE ARE THE BEST CAR SERVICE PROVIDE IN THE
                          WORLD</strong
                        >
                      </h3>
                      <span class="line-grey"></span>
                      <span class="line-orange"></span>
                      <span class="line-grey"></span>
                    </div>
                  </div>
                  <p class="text-dark-grey">
                    On the other hand, we denounce with righteous indignation
                    the foult anuals dislike men who are so beguiled and
                    demoralized by the nuhaiicharms of pleasure of the moment,
                    so blinded by desire, that they cannot foresee the pain and
                    trouble that are bound toen sue; and equal blame belongs to
                    those who fail in their duty.
                  </p>
                  <div>
                    <p class="text-dark-grey">
                      <i
                        class="bi bi-check-circle-fill text-orange"
                        style="color: #dd3333"
                      ></i>
                      Lorem ipsum dolor sit amet.
                    </p>
                    <p class="text-dark-grey">
                      <i
                        class="bi bi-check-circle-fill text-orange"
                        style="color: #dd3333"
                      ></i>
                      Ut enim ad minim veniam.
                    </p>
                    <p class="text-dark-grey">
                      <i
                        class="bi bi-check-circle-fill text-orange"
                        style="color: #dd3333"
                      ></i>
                      Duis aute irure dolor in reprehenderit.
                    </p>
                    <p class="text-dark-grey">
                      <i
                        class="bi bi-check-circle-fill text-orange"
                        style="color: #dd3333"
                      ></i>
                      Excepteur sint occaecat cupidatat non proident.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- Statistics Section -->
<section class="about-counter-sec">
  <div class="container-fluid">
    <div class="row">
      <!--Counter 1-->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">500+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            Happy client
          </h5>
        </div>
      </div>
      <!--Image 1-->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-2.jpg"
            alt="Happy client"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 2 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">1000+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            EQUIPMENTS
          </h5>
        </div>
      </div>
      <!-- Image 2 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-3.jpg"
            alt="Equipments"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 3 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">100+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            EXPERT TRAINERS
          </h5>
        </div>
      </div>
      <!-- Image 3 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-2.jpg"
            alt="Expert Trainers"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Image 4 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-4.jpg"
            alt="Award Win"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 4 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">150+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            AWARD WIN
          </h5>
        </div>
      </div>
      <!-- Image 5 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-5.jpg"
            alt="Personal Trainers"
            class="full-width img-fluid"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 5 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">20+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            PERSONAL TRAINERS
          </h5>
        </div>
      </div>
      <!-- Image 6 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-6.jpg"
            alt="Class Room"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 6 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">100+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            CLASS ROOM
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
