<head>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body
  class="d-flex h-125vh text-center text-white bg-dark"
  style="
    background-image: url('../../assets/cart0.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover; /* Do not scale the image */
    border-radius: 1rem; /* Add some rounded corners */
  "
>
  <div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand me-3" href="#">
            <img
              src="../../assets/rims.png"
              alt="RIMS"
              class="d-inline-block align-top"
              width="100"
              height="50"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav font-weight-bold">
              <li class="nav-item">
                <a class="nav-link" href="/wish-list"
                  ><i class="bi bi-heart bi-heart-fill"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cart"
                  ><i class="bi bi-cart-fill bi-cart-fill-fill"></i
                ></a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bi bi-person-fill"> </i>
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <a class="dropdown-item text-secondary" (click)="logout()"
                    >Logout</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="px-3" *ngIf="!isloginnav()">
      <nav class="navbar navbar-expand-md navbar-dark" *ngIf="!isloginnav()">
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarNav"
          >
            <ul class="navbar-nav font-weight-bold">
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/home"
                  >Home</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Categories
                </a>
                <div class="dropdown-menu bg-dark">
                  <li *ngFor="let c of category">
                    <a
                      [routerLink]="['/category', c.encodedId]"
                      class="dropdown-item text-secondary"
                      >{{ c.name }}</a
                    >
                  </li>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item text-secondary"
                    routerLink="/AllProducts"
                    >All Products
                  </a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Stores
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <li *ngFor="let s of store">
                    <a
                      [routerLink]="['/store', s.encodedId]"
                      class="dropdown-item text-secondary"
                      >{{ s.name }}</a
                    >
                  </li>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Pages
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <a
                    class="dropdown-item text-secondary"
                    [routerLink]="'/maintenance-order'"
                    >Order Maintenance</a
                  >
                  <a class="dropdown-item text-secondary" href="/maintenance"
                    >Maintenance</a
                  >
                  <a class="dropdown-item text-secondary" href="/blog">Blogs</a>

                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item text-secondary" href="/contact-us"
                    >Contact Us</a
                  >
                  <a class="dropdown-item text-secondary" href="/about-us"
                    >About Us</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1 class="cover-heading">
        Cart <span class="fw-bold" style="color: #dd3333">Page</span>
      </h1>
    </main>
  </div>
</body>

<div class="container">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="fw-bold mt-5"><strong>Shopping Cart</strong></h2>
        <span class="line-grey"></span>
        <span class="line-orange"></span>
        <span class="line-grey"></span>
      </div>
    </div>
    <div class="text-center" *ngIf="cartItems.length === 0">
      Your cart is empty
    </div>
  </div>
  
  <div class="container mt-5" *ngFor="let item of cartItems">
    <div class="car-specs-container p-4 shadow-lg">
      <div *ngIf="cartItems.length > 0">
        <div class="row">
          <div
            class="col-12 text-right mb-3"
            style="cursor: pointer"
            (click)="removeItem(item.id)"
          >
            <i class="fas fa-trash delete-icon"></i>
          </div>
  
          <div class="col-md-6">
            <img
              src="{{ item.image_link }}"
              alt="Car Model Image"
              class="car-image mt-3"
            />
          </div>
  
          <div class="col-md-6 shadow-sm">
            <!-- <h2 class="spec-title mb-5">Ghibli S Q4</h2> -->
            <h2 class="spec-title mb-5">{{ item.name }}</h2>
  
            <div class="row mt-4 mt-md-0">
              <div class="col-6 spec-title">Stocks</div>
              <div class="col-6 spec-value">
                <input
                type="number"
                min="1"
                max="5"
                [(ngModel)]="item.quantity"
                class="form-control w-50"
                (ngModelChange)="updateQuantity(item.id, $event.target.value)"
              />
              
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 spec-title">Engine Layout</div>
              <div class="col-6 spec-value">V8</div>
            </div>
            <div class="row mt-2">
              <div class="col-6 spec-title">Displacement</div>
              <div class="col-6 spec-value">2639 cc</div>
            </div>
            <div class="row mt-2">
              <div class="col-6 spec-title">Max Speed</div>
              <div class="col-6 spec-value">270 km/h</div>
            </div>
            <div class="row mt-2">
              <div class="col-6 spec-title">Max Power</div>
              <div class="col-6 spec-value">450 HP</div>
            </div>
            <div class="row mt-2">
              <div class="col-6 spec-title">Traction</div>
              <div class="col-6 spec-value">RWD</div>
            </div>
            <div class="row mt-2">
              <div class="col-6 spec-title">price</div>
              <div class="col-6 spec-value">{{ item.price | currency }}</div>
            </div>
  
            <div class="row mt-4 mb-2">
              <div class="col-12 text-right">
                <button
                  class="btn text-white"
                  style="background-color: #dd3333"
                  (click)="proceedToCheckout(item.id)"
                >
                  Proceed To Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="text-align: right; margin-top: 20px; margin-right: 15px">
    <button
      type="button"
      class="btn"
      style="background-color: #dd3333; color: #fff"
      (click)="navigateToCheckout()"
    >
      Pay Now
    </button>
  </div>
</div>

<!-- cart.component.html -->
<!-- <div class="container">
  <h1>Your Cart</h1>
  <div *ngIf="cartItems.length === 0">Your cart is empty</div>
  <div *ngIf="cartItems.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.name_cars }}</td>
          <td>{{ item.price_cars | currency }}</td>
          <td>
            <button (click)="removeItem(item)" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<!-- new struc -->
<!-- <div class="container">
  <div class="product-card" >
    <h2>{{ product.name }}</h2>
    <a [routerLink]="['/category', product.encodedId]">
      <img src="{{product.image_link}}" class="card-img-top" alt="..." style="height: 200px;width: 200px;">
  </a>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p *ngIf="product.offer > 0">Offer Price: {{ product.offer }}</p>
    <p>Stock: {{ product.stock }}</p>
  
    <div *ngIf="product.stock > 0">
      <label for="quantity">Quantity:</label>
      <div class="quantity-selector">
        <button (click)="decrementQuantity()" [disabled]="quantity <= 1">&larr;</button>
        <input type="text" id="quantity" [(ngModel)]="quantity" (input)="onQuantityInputChange($event)" />
        <button (click)="incrementQuantity()" [disabled]="quantity >= product.stock">&rarr;</button>
      </div>
      <p>Total Price: {{ totalPrice }}</p>
      <button (click)="buyProduct()" class="btn btn-success">check out</button>
    </div>
    <div *ngIf="product.stock === 0">
      <p style="color: red;">Out of Stock</p>
    </div>
  </div>
</div>  -->

<app-footer></app-footer>
