

<div class="container mt-4">
    <div class="row mt-4">
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center">
          <h1 style="border-radius: 10px;border: 1px solid gray;padding: 20px;background-color: rgb(0, 0, 0);color: aliceblue;">Posts List</h1>
          </div>
          <div class="main-card mb-3 card">

              <!-- <div class="card-header">
                  <h4 class="card-header-title font-size-lg text-capitalize font-weight-normal">Posts List</h4>
                  </div> -->
              <div class="d-block p-4 text-center card-footer">
                <button class="btn-pill btn-shadow btn-wide fsize-4 btn btn-success btn-lg" onclick="location.href='postform';">
                  <span class="mr-2 opacity-7"><i class="fa fa-cog fa-spin"></i> Insert</span>
              </button>
              
                  </div>
              </div>
              <div class="table-responsive">
                  <!-- table table-striped -->
              <table class="align-middle text-truncate mb-0 table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">TITLE</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Body</th>
                    <th class="text-center">Created_At</th>
                    <th class="text-center"><i class="fas fa-file"></i></th>    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of posts | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td class="text-center">{{p.id}}</td>
                    <td class="text-center">{{p.title}}</td>
                    <td class="text-center" style="width: 80px;">
                      <!-- <img [src]="'http://your-laravel-domain/storage/' + category.images" alt="{{ category.name }}"> -->
                      <img [src]=" p.image_link" alt="..." style="border-radius: 50px;">
                  </td>
                    <td class="text-center">{{p.body}}</td>
                    <td class="text-center">{{p.created_at}}</td>
                    <td class="text-center">
                      <div class="btn-group-sm btn-group" role="group">
                        <a class="btn btn-secondary btn-sm text-center" href="postdetails/{{p.id}}"><i class="fas fa-info-circle"></i>Details</a>
                        <a class="btn btn-info btn-sm text-center" href="postform/{{p.id}}"><i class="fas fa-wrench"></i>Update</a>
                        <!-- <i class="fas fa-trash-alt"></i> -->
                      </div>
                  </tr>
                  <!-- Add more rows as needed -->
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
          </div>
</div>
