
<section class="vh-100" style="background-color:  #2e504b;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img [src]="product.image_link" 
                  alt="category photo" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <h5 class="fw-bold mb-3 text-uppercase">Product Details</h5>
                    <p>{{product.id}}</p>
                    <!-- <p><strong>This is Random Product Info for this {{product.name}}</strong></p> -->
                    <p> {{product.name}}</p>
                    <p>{{product.description}}</p>
                    Price:<p> {{product.price}}</p>
                    Speed:<p> {{product.speed}}</p>
                    <p> {{product.type}}</p>
                    <p> {{product.color}}</p>
                    Cylinder:<p> {{product.cylinder}}</p>
                    Model:<p> {{product.model}}</p>
                    <p> {{product.offer}}</p>
                    <p> {{product.brand}}</p>
                    IN_stock<p> {{product.stock}}</p>
                    <button class="btn btn-danger" (click)="delete()">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>