<app-header></app-header>

<!-- carasoul with static section -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="fw-bold mt-5"><strong>Find Your Best Match</strong></h2>
      <span class="line-grey"></span>
      <span class="line-orange"></span>
      <span class="line-grey"></span>
      <p class="lead fs-5">
        A masterful combination of style, power, sporty handling and comfort. A
        masterful combination of style,<br />
        power, sporty handling and comfort.
      </p>
    </div>
  </div>
</div>
<div class="carousel-inner mt-3" style="max-width: 1250px; margin: 0 auto">
  <div class="carousel-item active">
    <div class="row">
      <div class="col-md-4 " *ngFor="let p of first_category">
        <div class="img-hover-container">
          <a [routerLink]="['/category', p.encodedId]">
            <img
              src="{{ p.image_link }}"
              class="img-fluid"
              alt="..."
              style="height: 350px"
            />
          </a>
          <div class="img-hover-text text-start">
            <h5>{{ p.name }}</h5>
            <p>
              {{ p.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fixed image  -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="fw-bold mt-5"><strong>Discover</strong></h2>
      <span class="line-grey"></span>
      <span class="line-orange"></span>
      <span class="line-grey"></span>
      <p class="lead fs-5">
        A masterful combination of style, power, sporty handling and comfort. A
        masterful combination of style,<br />
        power, sporty handling and comfort.
      </p>
    </div>
  </div>
</div>
<div class="fixed-bg mt-5">
  <div class="container">
    <div class="row text-start">
      <div class="col-12 content">
        <p class="fw-bold text-white">OUR MAIN GOAL -</p>
        <h1 class="fw-bold text-white">
          <strong
            >The Best Theme for
            <span style="color: #dd3333">Car Listing</span>
          </strong>
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- News and Technology -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="fw-bold mt-5"><strong>News and Technology</strong></h2>
      <span class="line-grey"></span>
      <span class="line-orange"></span>
      <span class="line-grey"></span>
      <p class="lead fs-5">
        A masterful combination of style, power, sporty handling and comfort. A
        masterful combination of style,<br />
        power, sporty handling and comfort.
      </p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-12 mb-4" *ngFor="let kit of kits">
          <div class="img-hover-container">
            <!-- <img src="../../assets/grid1.jpg" class="img-fluid" alt="" /> -->
            <a [routerLink]="['/category', kit.encodedId]">
              <img [src]="image_link" class="card-img-top" alt="{{ name }}" />
            </a>
            <div class="img-hover-text text-start">
              <h5>{{ pd_name }}</h5>
              <p>
                {{ description }}
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="img-hover-container">
            <img src="../../assets/grid2.jpg" class="img-fluid" alt="" />
            <div class="img-hover-text text-start">
              <h5>The Love Of Power Is The Demon Of Men & Women</h5>
              <p>
                A masterful combination of style, power, sporty handling and
                comfort.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-4">
          <div class="img-hover-container">
            <img src="../../assets/grid3.jpg" class="img-fluid" alt="" />
            <div class="img-hover-text text-start">
              <h5>The Love Of Power Is The Demon Of Men & Women</h5>
              <p>
                A masterful combination of style, power, sporty handling and
                comfort.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="img-hover-container">
        <img src="../../assets/grid.jpg" class="img-fluid" alt="" />
        <div class="img-hover-text text-start">
          <h5>The Love Of Power Is The Demon Of Men & Women</h5>
          <p>
            A masterful combination of style, power, sporty handling and
            comfort.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Statistics Section -->
<section class="about-counter-sec mt-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <!--Counter 1-->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">500+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            Happy client
          </h5>
        </div>
      </div>
      <!--Image 1-->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-2.jpg"
            alt="Happy client"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 2 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">1000+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            EQUIPMENTS
          </h5>
        </div>
      </div>
      <!-- Image 2 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-3.jpg"
            alt="Equipments"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 3 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">100+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            EXPERT TRAINERS
          </h5>
        </div>
      </div>
      <!-- Image 3 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-2.jpg"
            alt="Expert Trainers"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Image 4 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-4.jpg"
            alt="Award Win"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 4 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">150+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            AWARD WIN
          </h5>
        </div>
      </div>
      <!-- Image 5 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-5.jpg"
            alt="Personal Trainers"
            class="full-width img-fluid"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 5 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">20+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            PERSONAL TRAINERS
          </h5>
        </div>
      </div>
      <!-- Image 6 -->
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 p-0">
        <div class="counter-sec">
          <img
            src="../../assets/aboutus-6.jpg"
            alt="Class Room"
            class="img-fluid full-width"
            style="object-fit: cover; height: 100%; width: 100%"
          />
        </div>
      </div>
      <!-- Counter 6 -->
      <div
        class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center p-0"
        style="background-color: #dd3333"
      >
        <div class="counter-sec-content text-white">
          <h3
            class="display-8 font-weight-bold"
            style="font-size: 30px; margin-top: 80px"
          >
            <span class="count">100+</span><i class="flaticon-add"></i>
          </h3>
          <h5 class="text-uppercase rubik" style="font-size: 20px">
            CLASS ROOM
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
