<head>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body
  class="d-flex h-125vh text-center text-white bg-dark"
  style="
    background-image: url('../../assets/detailsBG.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover; /* Do not scale the image */
    border-radius: 1rem; /* Add some rounded corners */
  "
>
  <div class="cover-container d-flex w-100 h-200 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand me-3" href="#">
            <img
              src="../../assets/rims.png"
              alt="RIMS"
              class="d-inline-block align-top"
              width="100"
              height="50"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav font-weight-bold">
              <li class="nav-item">
                <a class="nav-link" href="/wish-list"
                  ><i class="bi bi-heart bi-heart-fill"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cart"
                  ><i class="bi bi-cart-fill bi-cart-fill-fill"></i
                ></a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bi bi-person-fill"> </i>
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <a class="dropdown-item text-secondary" (click)="logout()"
                    >Logout</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="px-3" *ngIf="!isloginnav()">
      <nav class="navbar navbar-expand-md navbar-dark" *ngIf="!isloginnav()">
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarNav"
          >
            <ul class="navbar-nav font-weight-bold">
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/home"
                  >Home</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Categories
                </a>
                <div class="dropdown-menu bg-dark">
                  <li *ngFor="let c of category">
                    <a
                      [routerLink]="['/category', c.encodedId]"
                      class="dropdown-item text-secondary"
                      >{{ c.name }}</a
                    >
                  </li>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item text-secondary"
                    routerLink="/AllProducts"
                    >All Products
                  </a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Stores
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <li *ngFor="let s of store">
                    <a
                      [routerLink]="['/store', s.encodedId]"
                      class="dropdown-item text-secondary"
                      >{{ s.name }}</a
                    >
                  </li>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Pages
                </a>
                <div class="dropdown-menu dropdown-menu bg-dark">
                  <a
                    class="dropdown-item text-secondary"
                    [routerLink]="'/maintenance-order'"
                    >Order Maintenance</a
                  >
                  <a class="dropdown-item text-secondary" href="/maintenance"
                    >Maintenance</a
                  >
                  <a class="dropdown-item text-secondary" href="/blog">Blogs</a>

                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item text-secondary" href="/contact-us"
                    >Contact Us</a
                  >
                  <a class="dropdown-item text-secondary" href="/about-us"
                    >About Us</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1 class="cover-heading">
        Details <span class="fw-bold" style="color: #dd3333">Page</span>
      </h1>
    </main>
  </div>
</body>

<div class="container mt-5">
  <!-- first row -->
  <div class="container car-detail">
    <div class="row" *ngFor="let p of product">
      <div class="col-md-6">
        <h2 class="car-title">{{ p.name }}</h2>
        <p class="car-description">YOU'RE NOT LIKE EVERYONE ELSE</p>
        <p class="car-description">
          A masterful combination of style, power, sporty handling and comfort.
        </p>
        <p class="car-price">${{ p.price }}</p>
        <div class="car-specs row">
          <div class="col-4 text-center">
            <div>Max Power</div>
            <div class="spec-value">430 HP</div>
          </div>
          <div class="col-4 text-center">
            <div>Max Speed</div>
            <div class="spec-value">286 km/h</div>
          </div>
          <div class="col-4 text-center">
            <div>Acceleration</div>
            <div class="spec-value">4.9 sec</div>
          </div>
          <div class="col-4 text-center mt-3">
            <div>Engine Layout</div>
            <div class="spec-value">V6</div>
          </div>
          <div class="col-4 text-center mt-3">
            <div>Traction</div>
            <div class="spec-value">RWD</div>
          </div>
          <div class="col-4 text-center mt-3">
            <div>Max Torque</div>
            <div class="spec-value">580 Nm</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="{{ p.image_link }}"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
  </div>

  <!-- seconed row -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="spec-table-container">
          <table class="table spec-table">
            <thead>
              <tr>
                <th colspan="2">TECHNICAL SPECIFICATION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Engine Type</td>
                <td>TDCI Diesel Engine</td>
              </tr>
              <tr>
                <td>Engine Description</td>
                <td>1.5kW</td>
              </tr>
              <tr>
                <td>No. of Cylinders</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Mileage-City</td>
                <td>22.4kmpl</td>
              </tr>
              <tr>
                <td>Mileage-Highway</td>
                <td>25.83kmpl</td>
              </tr>
              <tr>
                <td>Fuel Tank Capacity</td>
                <td>40 (Liters)</td>
              </tr>
              <tr>
                <td>Seating Capacity</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Transmission Type</td>
                <td>Manual</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- third row -->
  <section class="review-section shadow-sm">
    <div class="container">
      <div class="text-center mb-4">
        <h2 class="display-4 text-center mb-4">Reviews for Rims</h2>
        <hr class="bg-dark mb-4" style="height: 2px; border-radius: 10px" />
      </div>

      <div class="row">
        <div class="col-md-4 mb-4 text-center" *ngFor="let r of review| paginate: { itemsPerPage: 4, currentPage: p }">
          <figure class="figure">
            <i class="fas fa-user-circle" style="font-size: 40px"></i>
            <figcaption class="figure-caption mt-1">Review</figcaption>
            <blockquote class="blockquote mt-3">
              <p class="mb-0">
                {{ r.comment }}
              </p>
            </blockquote>
          </figure>
        </div>
        <pagination-controls
          (pageChange)="p = $event"
          class="text-center"
        ></pagination-controls>
      </div>
    </div>

    <div class="container mt-4">
      <div class="text-center mb-4">
        <h2 class="display-4 text-center mb-4">Rate us and Write a Review</h2>
        <hr class="bg-dark mb-4" style="height: 2px; border-radius: 10px" />
      </div>

      <form [formGroup]="formreview">
        <div class="form-group row">
          <label for="review" class="col-sm-2 col-form-label">Review</label>
          <div class="col-sm-10">
            <textarea
              class="form-control"
              formControlName="comment"
              id="comment"
              placeholder="Your review is recommended to be at least 140 characters long"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <button
              type="submit"
              class="btn"
              style="background-color: #dd3333; color: #fff; float: right"
              (click)="submit()"
            >
              Submit Review
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<app-footer></app-footer>
