

<!-- Section: Design Block -->
<section class="mt-5 ">
  <!-- Jumbotron -->
  <div class="px-2 py-3 mr-5 ml-5 mb-5 px-md-5 text-center text-lg-start shadow-lg">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
         
          <h1 class="display-5 fw-bold ls-tight text-center ">
       Best offer <br />
            <span style="color: #dd3333">for your business</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)" class="lead mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-4 px-md-5">
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="text-center mb-5">
                    <img
                      src="../../assets/rims.png"
                      style="width: 120px"
                      alt="logo"
                    />
                  </div>
                  
                 
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1"
                        class="form-control"
                        placeholder="First name"
                      />
                   
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example2"
                        class="form-control"
                        placeholder="Last name"
                      />
                 
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" placeholder="Phone number or email address" />
                 
                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>

                <!-- Submit button -->
                <button
                  type="submit"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-block mb-4"
                  style="background-color: #dd3333"
                >
                  Sign up
                </button>

                <p class="text-center fs-5 mt-5">
                  Already have an account? <a href="#!" class="link-info">log in</a>
                </p>
           
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

